<a href="/" style="color: black">Home page</a>
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <a routerLink="/todo">ToDo</a>&nbsp;
  <a routerLink="/register-final">Register</a>&nbsp;
  <a routerLink="/login">Login</a> &nbsp;
  <a routerLink="/dropdown-test">Dropdown</a>

<!--</div>-->
<!--<div class="container">-->
<!--  &lt;!&ndash; <app-template-driven-form></app-template-driven-form> &ndash;&gt;-->
<!--  &lt;!&ndash; <app-register></app-register> &ndash;&gt;-->
<!--  <app-register-final></app-register-final>-->
<!--  <app-login></app-login>-->
<!--  <app-todo></app-todo>-->
<!--</div>-->
</div>
<router-outlet></router-outlet>
