<div class="container-fluid">
  <div class="row">
    <div class="card-header">
      <strong style="font-size: xx-large; color: greenyellow">Furama Đà Nẵng</strong>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8" id="left-navbar">
    <a href="/">Trang chủ</a>
    <a href="">Liên Hệ</a>
    </div>
    <div class="col-md-4" id="right-navbar">
    <div>
      <input type="text" placeholder="Tìm kiếm theo tên">
      <button class="fa fa-search" type="submit"></button>
    </div>
    </div>
  </div>
  <div class="row">
  <div class="col-md-2" id="sidebar">

        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" id="customer" ngbDropdownToggle>Quản lý khách hàng</button>
          <div ngbDropdownMenu aria-labelledby="customer">
            <a routerLink="customer-create" ngbDropdownItem>Thêm mới khách hàng</a>
            <a routerLink="customer" ngbDropdownItem>Danh sách khách hàng</a>
            <button ngbDropdownItem>Xóa khách hàng</button>
          </div>
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="employee" ngbDropdownToggle>Quản lý nhân viên</button>
            <div ngbDropdownMenu aria-labelledby="employee">
              <button ngbDropdownItem>Thêm mới nhân viên</button>
              <button ngbDropdownItem>Danh sách nhân viên</button>
              <button ngbDropdownItem>Xóa nhân viên</button>
            </div>
          </div>
      </div>

  </div>
    <div class="col-md-10" id="content">
      <router-outlet></router-outlet>
    </div>
</div>
</div>
