<a href="/" style="color: black">Home page</a>
<div style="text-align: center">
  <a routerLink="timelines" >Tính thời gian</a>&nbsp;&nbsp;
  <a routerLink="youtube" >Youtube</a>&nbsp;&nbsp;
  <a routerLink="dictionary">Dictionary</a>&nbsp;&nbsp;
  <a routerLink="todo">ToDo</a>&nbsp;&nbsp;
  <a routerLink="login">Login</a>&nbsp;&nbsp;
  <a routerLink="register">Register</a>&nbsp;&nbsp;
  <a routerLink="student-list">Test student list</a>&nbsp;&nbsp;
  <a routerLink="image-gallery">Image Gallery</a>&nbsp;&nbsp;
  <a routerLink="img">Img</a>&nbsp;&nbsp;
  <a routerLink="blog">Blog</a>&nbsp;&nbsp;
  <a routerLink="todo-json">Todo Json</a>
</div>
<router-outlet></router-outlet>
